.navbar {
  display: flex;
  justify-content: space-between;
  padding: .8rem 0;
  background-color: white;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.left {
  display: flex;
  justify-content: baseline;
  width: 12%;
  align-items: center;
}

.logoname a {
  text-decoration: none;
  color: black;
}

.text_search {
  width: 25rem;
  height: 0.6rem;
  border-radius: 40px;

}

.right {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}

.rightelem {
  padding-right: 13px;
  font-weight: 600;
}

.rightelem:nth-child(2) {
  margin-top: 5px;
}

.rightelem1 {
  font-weight: 600;
}

.search_icon {
  color: brown;
  background-color: black;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;

}

.inputRounded {
  width: 25rem;
  border-radius: 20px;
}