.navbar {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  padding-left: 2rem;
}
.logoname{
  padding-left: .5rem;
}
.logoname a {
  text-decoration: none;
  color: black;
}

.right {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  /* font-weight: 300; */
}

.rightelem {
  padding-right: 13px;
  font-weight: 600;
}
.rightelem1{
  font-weight: 600;
  padding-right: 30px;
}
.contentcontainer {
  display: flex;
  padding: 0.8rem 1rem;
  justify-content: center;
  
  width: 100%;
}

.contentleft {
  /* margin-left: 8rem; for overlaping in right side */
  margin-top: 2.5rem;
  margin-right: -6rem;
  padding: 2rem;
  z-index: 850;
  /* for overlaping in right side */
  color: #000;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
  /* box-shadow: 5px 10px 10px 5px rgba(101, 92, 92, 0.5); */
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content:left; */
}

.contentleft {
  width: 440px;
  height: fit-content;
}

.contentleft h1 {
  font-size: 0.5rem;
  color: #222;

  font-weight: 500;
  /* margin: 10px 20px; */
  margin-top: 27px;
  margin-bottom: 10px;
  /* text-align: center; */
  /* align-items: center; */
}

.formsearch {
  display: flex;
  flex-direction: column;
}

.formsearch input {
  width: 100%;
  font-size: 1.5rem;
  margin: 5px;
  border: 0.1rem soild #222;
  outline: none;
  border-radius: 0.5rem;
}

.formsearch input::placeholder {
  color: #444;
  /* margin-left: 10px; */
  padding: 15px 10px;
}

.left_second {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: "100%";

}

.contentright_img {
  border-radius: 0.5rem;
}